.footer {
	position: sticky;
	height: 30px;
	width: 100%;
	/* background-color: #f8f9fa; */
	color: white;
	text-align: center;
}

.footer-text {
	color: #0000008c;
	font-size: 10px;
	font-weight: 600;
	text-align: right;
}
